numpy
pandas
pyarrow
scipy
scikit-learn
transformers
torch
snorkel
matplotlib
seaborn
python-dotenv
langchain-nvidia-ai-endpoints
langchain
langchain-core
langgraph
Flask
flask-cors
requests
nvidia-nat[langchain]
fastapi
uvicorn
pydantic
joblib